---
layout: base.njk
---

<main class="container">
    <h1>Data dump</h1>
    <p>Min github user: {{ github.login }} och plats: {{ github.location }}</p>
    <div class="grid">
        {% for item in land %}
        {% image item.flags.png, "Flag" %}
        <div>
        <h2>Name: {{ item.name.official }}</h1>
        <h3>Capital: {{ item.capital}}</h3>
        <h3>Language: {{ item.languages | getLanguage}}</h3>
        <h3>Currency: {{ item.currencies | getCurrency }}</h3>
        </div>
        {% endfor %}

        
    </div>
</main>