---
layout: base.njk
---

<main class="container">
    <h1>Data dump</h1>
    <p>Min github user: {{ github.login }} och plats: {{ github.location }}</p>
    <div class="grid">
        {% asyncAll item in onion.results %}
        {% image item.urls.small, item.alt_description %}
        {% endall %}
        {% image unsplash.results[9].tags[0].source.cover_photo.urls.small, "spooky boi" %}
    </div>
    <pre>
</pre>
</main>